<template>
  <div>
    <h1>Checkomatic</h1>

    <my-check />
  </div>
</template>

<script>
import TheCheck from '../components/TheCheck.vue';

export default {
  components: {
    'my-check': TheCheck,
  }
}
</script>

<style>

</style>
