<template>
  <div class="check__row">
    <div class="check__description">
      <p class="check-text">
        Pay to the order of
      </p>
    </div>
    <div class="check__value">
      <p class="check-text">R$</p>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.check {
  &__description {
    flex-grow: 3;

  }

  &__value {
   flex-grow: 1;
  }
}
</style>
