<template>
  <div class="check__row">
    <div class="check__company">
      <img src="https://atma-it.com/images/shared/logo.png" class="check__company-logo" />

      <div class="check__company-info">
        <p class="check-text">
          <strong>
            Atma IT Solutions
          </strong>

          Alameda Terracota, 215 <br />
          São Caetano do Sul, SP <br />
        </p>
      </div>
    </div>
    <div class="check__bank-info">
      <p class="check-text">
        <strong>Sample Bank</strong>
        123 Bank Street <br />
        New York, NY, 10294
      </p>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
  .check {
    &__company {
      display: flex;
      align-items: center;
      flex-shrink: 3;
      flex-grow: 1;
      flex-basis: auto;

      &-logo {
        width: 30%;
        margin-right: 1em;
      }

      &-info {
        width: 50%;
      }
    }

    &__bank-info {
      flex-shrink: 0;
      flex-grow: 3;
      flex-basis: auto;
      text-align: center;

    }
  }
</style>
