<template>
<div class="main-container">
  <TheCheckSteps />

  <div class="check" :style="{ backgroundImage: `url(${bgImg})` }">

    <TheCheckInfo />

    <TheCheckDescription />

    <TheCheckSignature />

  </div>

  <TheCheckController />
</div>
</template>

<script>
import TheCheckSteps from "./TheCheckSteps.vue";
import TheCheckInfo from "./TheCheckInfo.vue";
import TheCheckDescription from "./TheCheckDescription.vue";
import TheCheckSignature from "./TheCheckSignature.vue";
import TheCheckController from "./TheCheckController.vue";

export default {
  components: {
    TheCheckSteps,
    TheCheckInfo,
    TheCheckDescription,
    TheCheckSignature,
    TheCheckController
  },
  computed: {
    bgColor() {

      return this.$store.state.check.bgColor;
    },
    bgImg() {

      return this.$store.state.check.bgImg;
    }
  }
};
</script>

<style lang="scss">
.main-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (min-width: 1100px) {
    height: 500px;

    .check {
      margin: 100px 0;
    }
  }
}

.check {
  height: 50%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-size: cover;

  @media screen and (min-width: 420px) {
    height: 70%;
  }

  @media screen and (min-width: 1024px) {
    height: 85%;
    width: 60%;
  }

  &__row {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
  }

  &-text {
    color: #333;
    font-size: 0.5em;
    margin: 0;

    @media screen and (min-width: 1024px) {
      font-size: 0.8em;
    }

    strong {
      display: block;
      font-size: 1.2em;
    }
  }
}
</style>
