<template>
  <div class="check__row last-row">
    <div class="check__signature">
      <span class="check-text">Assinatura</span>
    </div>
    <div class="check-number">
      <span class="check-text">001001 : 000204192 : 0291581</span>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.check {
  &__signature {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    span {
      border-top: 1px solid #333;
      padding: 0.5em 2em;
    }
  }

  &-number {
    height: 20px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.last-row {
  flex-direction: column;
}
</style>
