<template>
  <el-steps :active="active" finish-status="success" align-center>
    <el-step title=""></el-step>
    <el-step title=""></el-step>
    <el-step title=""></el-step>
  </el-steps>
</template>

<script>
export default {
  data() {
    return {
      active: 0
    }
  }
}
</script>

<style lang="scss" scoped>
  .el-steps {
    width: 100%;
  }
</style>
