<template>
  <div class="controllers-container">
    <div v-if="hasBgColor" class="check-controller">
      <span class="demonstration">Set a background color:</span>
      <el-color-picker v-model="bgColor" @change="changeBackgroundColor"></el-color-picker>
    </div>

    <div class="check-controller">
      <el-upload
        class="upload-demo"
        action="http://localhost:3000/test"
        :on-preview="changeBackgroundImg">
        <el-button size="small" type="primary" round>Upload background image</el-button>
      </el-upload>
    </div>
  </div>
</template>

<script>
export default {
    data() {
      return {
        bgColor: '',
        hasBgColor: false,
      }
    },
    methods: {
      changeBackgroundColor() {
        this.$store.commit('changeColor', this.bgColor);
      },
      changeBackgroundImg(file) {
        this.$store.commit('changeBgImg', file);
      }
    }
  };
</script>

<style lang="scss">
.controllers-container {
  width: 100%;
}

  .check-controller {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
