<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',

}
</script>

<style lang="scss">
body {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  width: 920px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
</style>
